# Default values for admin-console.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

images:
  kotsadm: ${KOTSADM_REGISTRY}/kotsadm:${KOTS_TAG}
  migrations: ${KOTSADM_REGISTRY}/kotsadm-migrations:${KOTS_TAG}
  rqlite: ${KOTSADM_REGISTRY}/rqlite:${RQLITE_TAG}
  kurlProxy: ${KOTSADM_REGISTRY}/kurl-proxy:${KOTS_TAG}

replicatedAppEndpoint: "https://replicated.app"
replicatedRegistryDomain: "registry.replicated.com"
proxyRegistryDomain: "proxy.replicated.com"

password: ""
passwordSecretRef: {}
minimalRBAC: true
embeddedClusterID: ""
embeddedClusterVersion: ""
embeddedClusterDataDir: ""
embeddedClusterK0sDir: "" # is outside the data dir in older versions of embedded cluster
isAirgap: false
isHA: false
isMultiNodeEnabled: false

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

# Additional labels to add to all chart resources
labels: {}

serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

podAnnotations: {}

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

service:
  enabled: true
  type: NodePort
  port: 80

ingress:
  enabled: false
  className: ""
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  hosts:
    - host: chart-example.local
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

extraEnv: []
#  - name: HTTP_PROXY
#    value: http://proxy.example.com

# Additional volumes to add to the kotsadm deployment
extraVolumes: []
# - name: host-ca-bundle
#   hostPath:
#     path: /etc/ssl/certs/ca-certificates.crt
#     type: FileOrCreate

# Additional volumeMounts to add to the kotsadm container
extraVolumeMounts: []
# - name: host-ca-bundle
#   mountPath: /certs/ca-certificates.crt

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity:
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
        - matchExpressions:
          - key: kubernetes.io/os
            operator: In
            values:
              - linux
          - key: kubernetes.io/arch
            operator: In
            values:
              - amd64
              - arm64
          - key: node-role.kubernetes.io/control-plane
            operator: Exists

kurlProxy:
  enabled: false
  targetPort: 8800
