{{- if .Values.kurlProxy.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: kurl-proxy-kotsadm
  labels:
    app: kurl-proxy-kotsadm
    {{- include "admin-console.labels" . | nindent 4 }}
spec:
  selector:
    matchLabels:
      app: kurl-proxy-kotsadm
  template:
    metadata:
      labels:
        app: kurl-proxy-kotsadm
        {{- include "admin-console.labels" . | nindent 8 }}
    spec:
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
      - name: proxy
        image: {{ .Values.images.kurlProxy }}
        imagePullPolicy: IfNotPresent
        env:
        - name: NODE_PORT
          value: "{{ .Values.kurlProxy.targetPort }}"
        - name: UPSTREAM_ORIGIN
          value: http://kotsadm:3000
        - name: TLS_SECRET_NAME
          value: kotsadm-tls
        - name: NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        volumeMounts:
        - name: kotsadm-config
          mountPath: /etc/kotsadm
        resources:
          limits:
            cpu: 200m
            memory: 200Mi
          requests:
            cpu: 50m
            memory: 50Mi
      serviceAccount: kurl-proxy
      volumes:
      - name: kotsadm-config
        configMap:
          name: kotsadm-application-metadata
          optional: true
{{- end }}
