name: publish-staging
on:
  push:
    tags:
    - 'v[0-9]+.[0-9]+.[0-9]+\-alpha'
    - 'v[0-9]+.[0-9]+.[0-9]+\-alpha\.[0-9]+'

jobs:
  package-and-publish:
    runs-on: 'ubuntu-20.04'
    steps:
    - name: Get tag
      id: tag
      uses: dawidd6/action-get-tag@v1
      with:
        strip_v: true
    - name: Checkout
      uses: actions/checkout@v2
    - name: Install Helm
      uses: azure/setup-helm@v1
      with:
        version: v3.8.1
    - name: Run Package and Publish
      env: 
        HELM_USER: ${{secrets.KOTS_HELM_USER_STAGING}}
        HELM_PASS: ${{secrets.KOTS_HELM_PASS_STAGING}}
        CHART_VERSION: ${{steps.tag.outputs.tag}}
      run: |
        export KOTS_VERSION=${CHART_VERSION%-*}
        export KOTS_TAG=v${KOTS_VERSION}

        curl -O -L https://raw.githubusercontent.com/replicatedhq/kots/${KOTS_TAG}/.image.env

        export $(cat .image.env | sed 's/#.*//g' | xargs)
        # Postgres tag variable was changed after 1.77.0 release
        if [ -z "$POSTGRES_ALPINE_TAG" ] && [ -n "$POSTGRES_14_TAG" ]; then
            export POSTGRES_ALPINE_TAG=${POSTGRES_14_TAG}
        fi

        envsubst < Chart.yaml.tmpl > Chart.yaml
        envsubst < values.yaml.tmpl > values.yaml
        rm -f *.tmpl

        export CHART_NAME=`helm package . | rev | cut -d/ -f1 | rev`
        echo pushing ${CHART_NAME} to staging
        helm registry login registry.staging.replicated.com  --username $HELM_USER --password $HELM_PASS
        helm push $CHART_NAME oci://registry.staging.replicated.com/library